<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>ACES WORKSHOP</h1>
    </header>
    <main>
        <label for="">name</label>
        <input type="text" name="#" id ="$"></br>
        <label for="">batch</label>
        <input type="text" name="#" id ="$"></br>
        <label for="">roll no</label>
        <input type="text" name="#" id ="$"></br>
    </main>
    <footer>
        <button>submit</button>
    </footer>
</body>
</html>